* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: green;
  height: 500px;
  background-image: url("images/top.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: #fff;
  padding-top: 80px;
  text-align: center;
}

@media screen and (min-width: 980px) {
  h1 {
    padding-top: 200px;
    padding-right: 400px;
  }
}
.topNav {
  margin-top: 200px;
}

.topNav ul {
  color: #fff;
  list-style: none;
  padding-left: 0px;
}

@media screen and (min-width: 980px) {
  .topNav ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
  }
}

.topNav ul a {
  display: block;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  color: green;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #fff;
}


@media screen and (min-width: 980px) {
  .topNav ul a {
    display: inline;
    width: auto;
    padding: 10px 15px;
    transition: all 0.6s ease-in-out;
    border: 1px solid green;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  }

  .topNav ul a:hover {
    color: #fff;
    background-color: green;
    box-shadow: none;
  }
}

main {
  width: 95%;
  margin: 50px auto;
}

@media screen and (min-width: 980px) {
  main {
    width: 960px;  
  }
}

.mk_img {
  width: 100%;
}

section h3 {
  text-align: center;
  margin-top: 32px;
  font-size: 24px;
  margin-bottom: 20px;
}

.flex {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-reverse-mb {
  flex-direction: column-reverse;
}
@media screen and (min-width: 980px) {
  .flex {
    text-align: left;
    margin-top: 50px;
    display: flex;
    flex-direction: row;  
    justify-content: center;
  }
}

.flex img {
  width: 300px;
  margin: 0 auto;
}

.flex div {
  width: 250px;
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  .flex img {
    width: 300px;
    margin: 0;
  }
  .flex div {
    margin: 0;
  }
}

footer {
  background-color: lightblue;
  padding: 30px;
  text-align: center;
}

.creeper {
  display: none;
}

@media screen and (min-width: 980px) {

  .creeper {
    display: block;
    width: 60px;
    position: absolute;
    top: 200px;
    left: calc(50% + 200px);
  /*
    transform: rotate();
    transform: translateY();
  */
    animation: creeper 2s ease-in-out infinite alternate;
  }

}

@keyframes creeper {
  0% {
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(30px);
  }
}